/*{
	box-sizing: border-box;
}*/

.tout{
	margin: 100px 100px 100px 100px;
}


/*pour la partie en haut*/
.mail{
	border-right: solid 10% grey;
}

.enhaut .enveloppe, .mail, .telephone, .list-inline, a{
	display: inline-block;
	text-decoration: none;
}


li{
	color: black;
}


ul li{  /*bon il manque encore de les mettre a droite avec child*/
	display:flex;
	list-style: none;
	display:inline;
	justify-content: space-around;
	flex-direction: row;
}

.list-inline{
	padding-left: 650px;
}

/*pour la partie haut*/
span{
	color: #fdce14;
}

.black{
	color:black;
}

.ilemoni .i, .lemoni{
	display:inline-block;
}

.haut-menu{
	padding-left: 550px;
}

nav li{
	display: inline-block;
	margin:0px;
	padding: 0px;
}

nav li a{
	text-decoration: none;
	display:flex;
	list-style: none;
	display:inline;
	justify-content: space-around;
	flex-direction: row;
}

/* pour la partie banner*/
.weare, .enveloppe, .button-jaune{
	color: #fdce14;
}

.lemoni{
	color: white;
}
.weare .lemoni{
	display:inline-block;
}
.haut .ilemoni, nav{
	display:inline-block;
}

.banner{
	justify-content: center;
	text-align: center;
	background-color: black;
	padding: 20px 50px 20px 50px;
	margin: 20px 0px 10px 0px;
	color: white;
	font-size: 25px;
}

/*pour la partir contactus */

iframe{
	border-bottom: yellow solid ;
	padding: 20px 20px 20px 20px;
}

.home, .contact{
	display:inline-block;
}

.home{
	padding-left: 800px;
}

.bordure{
	border: 0.5px solid grey;
	width: 50%;
}

.col{
	display: flex;
	justify-content: space-around;
}

.form-row .col{
	display: inline-block;

}

.contactus{
	display: flex;
	display: inline-block;
}

/* pour la partie en dessous de contact us*/

.bordure-iframe{
	border: 0.2em grey solid;
}

.caseacocher{
	margin: 5px 5px 5px 5px;
}

.button-jaune{
	margin: 40px 20px 20px 40px;
	padding: 10px 20px 10px 20px;
	height:40px;
	background-color: yellow;
	color: black;
	font-size: bold;
}

.part1{
	margin-top: 0;
	margin-right: 20px;
}

.part2{
	margin: 0px 20px 20px 60px;
	padding: 0px 20px 20px 20px;
}

.contactus .part1, .part2{
	display: inline-block;
}

/* -----------footer------------ */
.banner2{
	background-color: black;
/*	padding: 20px 50px 20px 50px;*/
	margin: 20px 0px 10px 0px;
	color: white;
	font-size: 10px;
}

/* -- i lemoni -- */
/*.fas, h4{
	display: inline-block;
}*/

/* -- recent post --*/
/*.carre-gris, .carre-gris2{
	background-color: grey;
	width: 20px;
	height: 20px;
}

.titre-jaune{
	color:#fdce14;
}

.titre-blanc, h6{
	color: white;
}

.carre-gris, .titre-jaune{
	display:inline-block;
}
.carre-gris2, .titreblanc{
	display: inline-block;
}

.banner2 .premier-bloc, .deuxieme-bloc, .troisieme-bloc, .quatrieme-bloc{
	display:inline-block;
}

*/

/* Bootstrap footer */
.footer{
	overflow: hidden;
	width: 100%;
	display: inline-block;
	flex-direction: row;
}

.container .bis{
	flex-direction: row;
	display: inline-block;
}

.bis{
	padding-top: 10px 10px;
	margin: 10px 20px;
}

.footer {
    padding: 20px 0 20px 0;
    background-color: #090c14;
    color: #878c94;
		font-size: 10px;
}
.footer .title{
	text-align: left;
	color:#fff;
	font-size:15px;
}
.footer .social-icon{
	padding:0px;
	margin:0px;
}
.footer .social-icon a{
	display:inline-block;
	color:#fff;
	font-size:15px;
	padding:5px;
}
.footer .acount-icon a{
	display:block;
	color:#fff;
	font-size:12px;
	padding:5px;
	text-decoration:none;
}
.footer .acount-icon .fa{
/*	margin-right: 25px;*/
}

.footer .bis, .bis{
	display: inline-block;
}
.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}

.carre-gris{
	background-color: grey;
	width: 20px;
	height: 20px;
	border: grey solid 1em;
}

.footer .payment{
	margin:0px;
	padding:0px;
	list-style-type:none
}
.footer .payment li{
	list-style-type:none
}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 15px;
    padding: 10px 10px;
}
