/*pour la partie en haut*/
body{ /* ca c'est pour pas qui ait d'espace entre la banner et le site*/
	margin: 0;
}
.mail{
	color:grey;
}

.telephone{
	color:grey;
}

.mail .enveloppe, .email{
	display:inline-block;
}

.telephone .enveloppe, .number{
	display:inline-block;
}

.enhaut .enveloppe, .mail, .telephone, .list-inline, a{
	display: inline-block;
	text-decoration: none;
}


.en-haut .list-inline{
	color: grey;
	/*padding-left: 500px;
	margin-left: 200px;*/
	display: flex;
	height:161px;
	width:17px;
}

.list-inline{
	color: grey;
}

.bis{
	margin-left: 50em;
	color: grey;
}

ul li{  /*bon il manque encore de les mettre a droite avec child*/
	display:flex;
	list-style: none;
	justify-content: space-around;
	flex-direction: row;
}

.list-inline .espace{
	display:inline-block;
	width: 10px; /*pas trop sure les 4 lignes dessous*/
	height:10px;
}


/*pour la partie haut*/
span{
	color: #fdce14;
}

.black{
	color:black;
}

.ilemoni .i, .lemoni{
	display:inline-block;
}

.haut-menu{
	padding-left: 660px;
}

nav li{
	display: inline-block;
	margin:0px;
	padding: 0px;
}

nav li a{
	text-decoration: none;
	display:flex;
	list-style: none;
	display:inline;
	justify-content: space-around;
	flex-direction: row;
}

/* pour la partie banner*/
.weare, .enveloppe, .button-jaune{
	color: #fdce14;
}

.lemoni{
	color: white;
}
.weare .lemoni{
	display:inline-block;
}
.haut .ilemoni, nav{
	display:inline-block;
}

.haut-menu .espace{
	display: inline-block;
}

.banner{
	justify-content: center;
	text-align: center;
	background-color: black;
	padding: 45px 30px 45px 30px;
	margin: 20px 0px 10px 0px;
	color: white;
	font-size: 35px;
	width: 100%;
}

/*------ pour la partir dessousbanner ------- */

.home, .contact{
	display:inline-block;
}


.home{
	padding-left: 65em;
}

/*------pour la partir contactus------- */
.contactus{
	margin-top: 50px;
	margin-left: 20px;
}

.bordure-iframe{
	border: 0.1em;

}

iframe{
	border-bottom: yellow solid 0.1em;
	padding: 20px 20px 20px 20px;
}

.bordure{
	border: 0.1px solid grey;
	width: 50%;
}

.col{
	display: flex;
	justify-content: space-around;
}

.form-row .col{
	display: inline-block;

}


.contactus{
	display: flex;
}

/* pour la partie en dessous de contact us*/

.bordure-iframe{
	border: 0.2em grey solid;
	border-bottom: #fdce14 solid 0.5em;
}
.top-jaune{
	margin-top: #fdce14 solid 0.5em;
}
.caseacocher{
	margin: 5px 5px 5px 5px;
}
.button-copy .caseacocher .grey{ /* a remettre aligner */
	display:inline-block;
}

.grey{
	color:grey;
}

.button-jaune2{
	margin: 40px 20px 20px 0px;
	padding: 10px 75px 10px 75px;
	height:40px;
	background-color: #fdce14;
	color: black;
	font-size: bold;
}

.part1{
	margin-top: 0;
	margin-right: 20px;
}

.part2{
	margin: 0px 20px 20px 80px;
	padding: 0px 20px 20px 20px;
}

.contactus .part1, .part2{
	display: inline-block;
}

.list-inline2 .espace2{
	display:inline-block;
	width: 50px; /*pas trop sure les 4 lignes dessous*/
	height:50px;
	text-align: center;
	line-height: 10px;
}

.list-inline2{
	margin-top: 20px;
}

.memeligne1 .aligntoi, .eveloppe{
}

.memeligne2 .aligntoi2,span{
}

/* -----------footer------------ */
.banner2{
	background-color: black;
/*	padding: 20px 50px 20px 50px;*/
	margin: 20px 0px 10px 0px;
	color: white;
	font-size: 10px;
}

/* -- i lemoni -- */
/*.fas, h4{
	display: inline-block;
}*/

/* -- recent post --*/
/*.carre-gris, .carre-gris2{
	background-color: grey;
	width: 20px;
	height: 20px;
}

.titre-jaune{
	color:#fdce14;
}

.titre-blanc, h6{
	color: white;
}

.carre-gris, .titre-jaune{
	display:inline-block;
}
.carre-gris2, .titreblanc{
	display: inline-block;
}

.banner2 .premier-bloc, .deuxieme-bloc, .troisieme-bloc, .quatrieme-bloc{
	display:inline-block;
}

*/

/* Bootstrap footer */
.footer{
	overflow: hidden;
	width: 100%;
	display: inline-block;
	flex-direction: row;
	align-content: flex-start;

}


.footer {
    padding: 20px 0 20px 0;
    background-color: #090c14;
    color: #878c94;
		font-size: 10px;
}
.footer .title{
	text-align: left;
	color:#fff;
	font-size:15px;
}
.footer .social-icon{
	padding:0px;
	margin:0px;
}
.footer .social-icon a{
	display:inline-block;
	color:#fff;
	font-size:15px;
	padding:5px;
}

.carre-gris{
	background-color: grey;
	width: 20px;
	height: 20px;
	border: grey solid 1em;
}

.jaune{
	color:
}

.maman-tag2 .carre-gris, .bb-tag2{
	display: inline-block;
	flex-direction: row;
}

.maman-tag .tag{
	display: inline-block;
	justify-content: space-around;
	border: black solid 1em;
}

.premier-tableau{
	margin-left: 20px;
	width: 100%;
	height: auto;
}

.deuxieme-tableau{
	justify-content: space-around;
}

td .list-inline3{
	display:flex;
}

.nav-bas .espace{
	display: inline-block;
	justify-content: space-between;

}

.espace{
	padding-left: 10px;
	padding-right: 10px;
}

.email-address{
	padding: 2px 2
}
.button-go{
	background-color: #fdce14;
	margin: ;
	height: ;
	padding: 4px 5px 4px 5px;
	font-size: bold;
}
